/* font used */
.jost{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}

/* to make the margin zero */
*{
    margin: 0%;
}

/* css for the top part (the submitted part) */
header#top{
    background-color: rgb(223, 69, 69);
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
}

/* css for the bottom part (here lies the sources) */
footer{
    background-color: rgb(223, 69, 69);
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
}

#sources{
    color: rgb(255, 255, 255);
}

/* css for the bg of the navbar*/
header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(249, 203, 67);
}

/* css for the logo*/
#logo{
    border-radius: 15px; 
    width: 100px; 
    height: 100px;
    margin-left: 90px;
}

/* css for the logo */
#title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(60, 152, 21);
    margin-right: 985px;
    text-align: center;
}

/* css for the navigation links*/

nav{
    text-align: right;
    position: absolute;
    top: 120px;
    right: 45px;
    color: rgb(75, 165, 37);
    font-size: 160%;
}

/* css for the navlinks specifically for the text*/
.links{
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

/* to make the navlinks be underlined when hovered*/
.links:hover {
    text-decoration: underline;
}

/* css for the whole page*/
main{
    background-color: rgb(223, 69, 69);
}

p{
    text-align: justify;
}

section:nth-of-type(odd) {
  background-color: rgb(251, 95, 95);
    overflow: auto;
}

section:nth-of-type(even) {
  background-color: rgb(243, 85, 85);
    overflow: auto;
}

.headerdef{
    background-color: rgb(247, 199, 58);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 38%;
    text-align: center;
    color:rgb(75, 165, 37);
}

#picofpips{
    width: 75%;
    margin-left: 155px;
    margin-bottom: 20px;
}

#picofpips:active{
    box-shadow: 0 0 25px rgb(241, 209, 27);
}

.deftext{
    font-size: 120%;
    width: 90%;
    color:rgb(75, 165, 37);
    background-color: rgb(247, 199, 58);
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 15px;
}

.headerimp{
    background-color: rgb(247, 199, 58);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45%;
    text-align: center;
    color:rgb(75, 165, 37);
}

.imptext{
    font-size: 120%;
    width: 90%;
    color:rgb(75, 165, 37);
    background-color: rgb(247, 199, 58);
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 15px;
}

article{
    background-color: rgb(247, 199, 58);
    overflow: auto;
    width: 45%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

article:nth-of-type(odd) {
    margin-left: 44px;
}


.headerchild{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:rgb(75, 165, 37);
}

#childpart{
    width: 100%;
}

.headerteen{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:rgb(75, 165, 37);
}

#teenpart{
    width: 100%;
}

.headeradult{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:rgb(75, 165, 37);
}

#adultpart{
    width: 100%;
}

.headersenior{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color:rgb(75, 165, 37);
}

#seniorpart{
    width: 100%;
}

article p{
    font-size: 120%;
    color:rgb(75, 165, 37);
    padding: 15px 25px;
}

.headermhdis{
    background-color: rgb(247, 199, 58);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 73%;
    text-align: center;
    color:rgb(75, 165, 37);
}

.textmhdis{
    font-size: 120%;
    width: 90%;
    color:rgb(75, 165, 37);
    background-color: rgb(247, 199, 58);
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 15px;
}

.bulletmhdis{
    font-size: 150%;
    width: 19%;
    color:rgb(75, 165, 37);
    background-color: rgb(247, 199, 58);
    float: left;
    margin-left: 88px;
    margin-right: 30px;
}

li::marker {
      color: rgb(223, 69, 69);
    }

li{
    padding: 0 7px;
    margin: 7px;
}

#mhdispic{
    width: 60.5%;
    margin: 0 0 20px 15px;
    transition: transform 2s;
}

#mhdispic:hover{
    box-shadow: 0 0 50px rgb(157, 34, 135), 0 0 10px navy;
    transform: scale(0.9);
}

