/* font used */
.jost{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}

/* to make the margin zero */
*{
    margin: 0%;
}

/* css for the top part (the submitted part) */
header#top{
    background-color: rgb(223, 69, 69);
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
}

/* css for the bottom part (here lies the sources) */
footer{
    background-color: rgb(223, 69, 69);
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
}

#sources{
    color: rgb(255, 255, 255);
}

/* css for the bg of the navbar*/
header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(249, 203, 67);
}

/* css for the logo*/
#logo{
    border-radius: 15px; 
    width: 100px; 
    height: 100px;
    margin-left: 90px;
}

/* css for the logo */
#title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(60, 152, 21);
    margin-right: 985px;
    text-align: center;
}

/* css for the navigation links*/

nav{
    text-align: right;
    position: absolute;
    top: 120px;
    right: 45px;
    color: rgb(75, 165, 37);
    font-size: 160%;
}

/* css for the navlinks specifically for the text*/
.links{
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

/* to make the navlinks be underlined when hovered*/
.links:hover {
    text-decoration: underline;
}

/* css for the whole page*/
main{
    background-color: rgb(223, 69, 69);
}

section:nth-of-type(odd) {
  background-color: rgb(251, 95, 95);
    overflow: auto;
}

section:nth-of-type(even) {
  background-color: rgb(243, 85, 85);
    overflow: auto;
}

p{
    text-align: justify;
}

/* WHO AM I? PART */

.header1{
    background-color: rgb(249, 203, 67);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 490px;
    margin-top: 20px;
    width: 21%;
    text-align: center;
    color:rgb(75, 165, 37);
    float: left;
}

.factsabouther{
    background-color: rgb(249, 203, 67);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 230px;
    margin-top: 33px;
    margin-bottom: 10px;
    width: 15%;
    text-align: center;
    color:rgb(75, 165, 37);
    float: left;
}

.meul{
    font-size: 90%;
    width: 22%;
    color:rgb(75, 165, 37);
    background-color: rgb(249, 203, 67);
    margin-right: 23px;
    margin-left: 23px;
    float: right;
}

li::marker {
      color: rgb(223, 69, 69);
    }

li{
    padding: 7px;
}

#mepic{
    width: 295px;
    height: 278x;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 2px;
}

.whometext{
    font-size: 140%;
    width: 40%;
    color:rgb(75, 165, 37);
    background-color: rgb(249, 203, 67);
    padding: 15px;
    float: right;
    padding: 15px;
    margin-right: 13px;
    margin-top: 33px;
}

/* BACKGROUND OF THIS ADVOCACY PART */

.header2{
    background-color: rgb(249, 203, 67);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 430px;
    width: 30%;
    margin-top: 20px;
    text-align: center;
    color:rgb(75, 165, 37);
}

#uspic1{
    width: 70%;
    margin-top: 20px;
    margin-left: 170px;
    border-radius: 15px;
}

.bgofustext1{
    font-size: 120%;
    width: 90%;
    margin-top: 20px;
    color:rgb(75, 165, 37);
    background-color: rgb(249, 203, 67);
    padding: 15px;
    margin-left: 44px;
}

.bgofustext2{
    font-size: 120%;
    width: 30%;
    color:rgb(75, 165, 37);
    background-color: rgb(249, 203, 67);
    padding: 15px;
    margin-top: 20px;
    margin-right: 100px;
    float: right;
}

.bgofustext3{
    font-size: 120%;
    width: 90%;
    color:rgb(75, 165, 37);
    background-color: rgb(249, 203, 67);
    padding: 15px;
    margin-top: 20px;
    margin-left: 44px;
    margin-bottom: 5px;
}

#schoolpic{
    width: 630px;
    margin-left: 100px;
    margin-top: 20px;
}

.heart{
    width: 70px;
    height: 70px;
    margin-left: 18px;
    margin-top: 6px;
    float: left;
}

/* SUGGESTIONS PART */

.suggestions{
    background-color: rgb(243, 85, 85);
}

.header3{
    background-color: rgb(249, 203, 67);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 430px;
    width: 30%;
    text-align: center;
    color:rgb(75, 165, 37);
}

.orgsrechead{
    background-color: rgb(249, 203, 67);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    width: 13%;
    text-align: center;
    color:rgb(75, 165, 37);
    float: left;
    margin-left: 73px;
}

.askhelphead{
    background-color: rgb(249, 203, 67);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    width: 17%;
    text-align: center;
    color:rgb(75, 165, 37);
    float: left;
    margin-left: 100px;
}

.takecarebabeshead{
    background-color: rgb(249, 203, 67);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    width: 12%;
    text-align: center;
    color:rgb(75, 165, 37);
    float: left;
    margin-left: 100px;
}

.recommendations{
    width: 850px;
    height: 300px;
    float: left;
    margin-left: 45px;
}

.note{
    font-size: 140%;
    width: 19%;
    color:rgb(75, 165, 37);
    background-color: rgb(249, 203, 67);
    padding: 15px;
    margin-left: 935px;
}

/* WHERE TO CONTACT US PART */

.header4{
    background-color: rgb(249, 203, 67);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-left: 430px;
    width: 30%;
    text-align: center;
    color:rgb(75, 165, 37);
}

.locpic{
    width: 80%;
    margin-left: 125px;
}

.location{
    font-size: 140%;
    width: 40%;
    color:rgb(75, 165, 37);
    background-color: rgb(249, 203, 67);
    padding: 9px;
    text-align: center;
    margin-top: 15px;
    margin-left: 350px;
}

.sprite1 {
	background: url('spritesheet.png') no-repeat -36px -101px;
	width: 68px;
	height: 67px;
    float:left;
    margin: 20px;
    margin-left: 400px;
    margin-right: 25px;
}

.sprite2 {
	background: url('spritesheet.png') no-repeat -130px -101px;
	width: 68px;
	height: 67px;
    float:left;
    margin: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.sprite3 {
	background: url('spritesheet.png') no-repeat -130px -289px;
	width: 68px;
	height: 67px;
    float:left;
    margin: 20px;
    margin-left: 25px;
    margin-right: 25px;
}


.sprite4 {
	background: url('spritesheet.png') no-repeat -36px -289px;
	width: 68px;
	height: 67px;
    float:left;
    margin: 20px;
    margin-left: 25px;
    margin-right: 25px;
}